<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title}}{{ end }}</title>
  <meta name="description"
    content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
  <link rel="icon" type="image/jpg" sizes="16x16" href="/favicon-16x16.jpg" />
  <link rel="icon" type="image/jpg" sizes="32x32" href="/favicon-32x32.jpg" />
  <link rel="icon" type="image/jpg" sizes="48x48" href="/favicon-48x48.jpg" />
  <link rel="icon" type="image/jpg" sizes="192x192" href="/favicon-192x192.jpg" />
  <link rel="apple-touch-icon" type="image/jpg" sizes="167x167" href="/favicon-167x167.jpg" />
  <link rel="apple-touch-icon" type="image/jpg" sizes="180x180" href="/favicon-180x180.jpg" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
</head>
